.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #17171b;

  max-width: 700px;
  margin: 160px 0;
}

.list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 30px;
}

.card{
  width: 330px;
  height: 115px;
  background-color: #ddd;
  border-radius: 10px;
  padding: 20px;

  position: relative;
}

.info{

}
.info__number{
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: rgba(23, 27, 24, 0.6);
}
.info__name{
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #ffffff;
}
.card__img{
  max-width: 100%;
  max-height: 140px;
  position: absolute;
  top: -35px;
  right: 10px;
}